/* CartNavbarProdustDetail */

.c-NavbarDetailDard {
  width: 400px;
}

.c-NavbarDetailDard .btn {
  margin: 0;
  background-color: gainsboro;
}

.c-NavbarDetailDard button {
  width: 20px;
  height: 20px;
}

.c-NavbarDetailDard td {
  background-color: gainsboro;
}

.c-NavbarDetailDard span {
  background-color: gainsboro;
}
